<h1 class="main-title text-center">Listing all articles</h1>

<div class="mt-5 d-flex justify-content-center">
   <%= will_paginate%>
</div>
<%= render 'article', obj: @articles %>

<div class="mb-5 d-flex justify-content-center">
   <%= will_paginate%>
</div>


    