/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 $body-bg: #e2e2e2;
 $theme-colors: (
  "primary": #ff304f,
  "secondary": #CACACA,
  "success": #015668,
  "info": #0F81C7,
  "warning": #0DE2EA,
  "danger": #ff0000,
  "light": #ececec,
  "dark": #222222
);


@import "bootstrap";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgba($color: $body-bg, $alpha: .5);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar-custom {
    background: #08088a;
}

.navbar-brand {
    font-size: 1.8rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: -1px;
    color: #fff;
    transition: ease-out .3s;
}

.navbar-brand:hover {
    color: map_get($theme-colors, 'primary');
}

.nav-link {
    color: white;
}

.jumbotron{
    background-image: linear-gradient(rgba(#000, 0.4), rgba(#000, .6)),asset-url("banner.jpg");
    background-size: cover;
    background-position: center;
    height: 610px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 0;
    margin: 0;
}

.jumbotron h1 {
    color: #fff;
    margin: 2rem;
}

.btn-signup {
    transition: ease-in-out .3s;
}

.btn-signup:hover {
    background: transparent;
    font-weight: bold;
    opacity: 0.8;
}

.main-content {
    flex: 1;
}

.article-title {
    font-weight: bold;
    font-size: 1.5em;
}

.article-body{

    border-top: 1px solid #cacaca;
    border-bottom: 1px solid #cacaca;

}

.errors h2 {
    font-size: 1.2rem;
    font-weight: 600;
}

footer ul {
    list-style: none;
}

footer a {
    color: #fff;
}

footer a:hover {
    text-decoration: none;
    color: #ff304f;
}

.dropdown-menu .dropdown-item:hover{
    background: map_get($theme-colors, 'primary');
    color: map_get($theme-colors, 'light');
}

