<footer class="bg-dark text-white p-4">
    <div class="footer-top d-flex justify-content-between">
        <div>
            <span class="mr-3">copyright &copy; 2020</span> <a href="https://uandiprogramming.blogspot.com" target="blank"> Visit You and I programming</a>
        </div>
        <nav>
            <ul>
                <li>
                 <%= link_to 'About', about_path %>
                </li>
            </ul>
        </nav>
    </div>
</footer>