<div class="bg-dark text-white p-4">
    <footer class="footer d-flex justify-content-between">
        <div>
            <span class="mr-3">copyright &copy; 2020</span> <a href="https://uandiprogramming.com"> Visit You and I programming</a>
        </div>
        <nav>
            <ul>
                <li>
                 <%= link_to 'About', about_path %>
                </li>
            </ul>
        </nav>
    </footer>
</div>